@font-face { font-family: 'Handon3gyeopsal600g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Handon3gyeopsal300g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); font-weight: normal; font-style: normal; }
html{font-size:62.5%;}
/*    header    */
header{
    width:100%; 
    height:9rem;
    border-bottom:1rem solid #bcbcbc;
    z-index: 100;
}
header .inner-box{
    margin:0 auto;
    /*max-width:90vw;*/
    width:1720px;
}
h1{
    float:left;
}
header p>span{
    font-size:2rem;
    color:#4dc6e0;
}
header p>span+span{
    color:#ffcd46;
}
header p{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:2rem;
    color:#1e1e1e;
    float:left;
    margin-top:2.9rem;
    margin-left:2rem;
}
header nav{
    float:right;
}
header nav ul li{
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:2rem;
    float:left;
    margin-top:3.7rem;
    margin-left:5rem;
}
header nav ul li.on a{color:#4dc6e0;}
header nav ul li a{
    color:#1e1e1e;
}
header nav ul li a:hover{
    color:#4dc6e0;
}
/*    header End    */
/*   �꾩껜 Content   */
#outer,#outer section{
    height:100%;
}
/*   �꾩껜 Content End   */
#outer section#box01{
    position: relative;
}
/*    Home    */
section#box01 .about{
    position: absolute;
    top:50%;
    left:50%;
    text-align:center;
    transform: translate(-50%, -50%);
}
section#box01 .about p{
    color:#1e1e1e;
}
section#box01 .about p:first-of-type{
    margin-top:2rem;
    Font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:2.5rem;
    letter-spacing:.8rem;
    line-height: 5.3rem;
}
section#box01 .about p:first-of-type span,
section#box01 .about h2 span:first-of-type{
    color:#4dc6e0;
}
section#box01 .about h2 span:nth-of-type(2){
    color:#ffcd46;
}
section#box01 .about p:first-of-type span:last-of-type{
    color:#1e1e1e;
}
section#box01 .about h2{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:8.2rem;
    font-weight:bold;
    letter-spacing: .3rem;
    color:#1e1e1e;
}
section#box01 .about p:nth-of-type(2){
    Font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:2rem;
    letter-spacing:.2rem;
    line-height: 2.7rem;
    margin-top:3rem;
}
/*    Home End    */
/*       Projects1        */
#outer section#box02{
    background-color:#dff9ff;
    height:auto;
    padding-top:16rem;
    margin:0 auto;
}
section#box02 h2,
section#box03 h2,
section#box04 h2{
    position: relative;
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:3.8rem;
    letter-spacing: -.1rem;
    color:#1e1e1e;
    text-align: center;
}
section#box02 h2::after,
section#box03 h2::after,
section#box04 h2::after{
    position: absolute;
    content:'';
    top:54px;
    left:49%;
    display:block;
    width:3.3rem;
    height:.1rem;
    background-color:#1e1e1e;
}
section#box02 h2+p,
section#box03 h2+p,
section#box04 h2+p{
    position: relative;
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:1.8rem;
    font-weight:;
    line-height: 10rem;
    letter-spacing: -.04rem;
    color:#1e1e1e;
    text-align: center;
}
section#box02 .project1 img,
section#box02 .project1-o img{
-webkit-box-shadow: 10px 10px 43px -9px rgba(158,158,158,1);
-moz-box-shadow: 10px 10px 43px -9px rgba(158,158,158,1);
box-shadow: 10px 10px 43px -9px rgba(158,158,158,1)
}
/*.content {margin-top:3rem;}*/
section#box02 article:after{
    content:'';
    display:block;
    clear:both;
}
section#box02 article{
    display:block;
    width:140.6rem;
    margin:3rem auto;
}
section#box02 article:nth-of-type(2),
section#box02 article:nth-of-type(3){
    margin-top:16rem;
}
section#box02 .project1{
    width:78.6rem;
    float:left;
}
section#box02 .project1-o{
    width:78.6rem;
    float:left;
}
section#box02 .project1_con{
    padding:12rem 0 0 7rem;
    width:52rem;
    color:#1e1e1e;
    float:left;
}
section#box02 .project1_con-o{
    padding:12rem 7rem 0 0;
    float:left;
    text-align: right;
    /*padding:16rem 0 0 7rem;*/
    width:52rem;
    color:#1e1e1e;
}
section#box02 .project1_con p:first-of-type span,
section#box02 .project1_con p:nth-of-type(2) span,
section#box02 .project1_con p:nth-of-type(4) span,
section#box02 .project1_con p:nth-of-type(5) span,
section#box02 .project1_con p:nth-of-type(6) span,
section#box02 .project1_con-o p:first-of-type span,
section#box02 .project1_con-o p:nth-of-type(2) span,
section#box02 .project1_con-o p:nth-of-type(4) span,
section#box02 .project1_con-o p:nth-of-type(5) span,
section#box02 .project1_con-o p:nth-of-type(6) span{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    color:#1e1e1e;
}
section#box02 .project1_con p:first-of-type,
section#box02 .project1_con-o p:first-of-type{
    font-size:2.2rem;
    line-height: 4.5rem;
    letter-spacing: -.01rem;
}
section#box02 .project1_con p:nth-of-type(2),
section#box02 .project1_con-o p:nth-of-type(2){
    position: relative;
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:3rem;
}
section#box02 .project1_con p:nth-of-type(2)::after,
section#box02 .project1_con-o p:nth-of-type(2)::after{
    position: absolute;
    content: '';
    top:4.8rem;
    right:2rem;
    width:50rem;
    height:.1rem;
    background:#1e1e1e;
}
section#box02 .project1_con p:nth-of-type(3),
section#box02 .project1_con-o p:nth-of-type(3){
    padding-top:3.3rem;
    font-family:'Handon3gyeopsal300g', sans-serif;
    font-size:2rem;
    line-height: 3rem;
}
section#box02 .project1_con p:nth-of-type(4),
section#box02  .project1_con-o p:nth-of-type(4){
    padding-top:2.5rem;
}
section#box02 .project1_con p:nth-of-type(4) span,
section#box02 .project1_con p:nth-of-type(5) span,
section#box02 .project1_con p:nth-of-type(6) span,
section#box02 .project1_con-o p:nth-of-type(4) span,
section#box02 .project1_con-o p:nth-of-type(5) span,
section#box02 .project1_con-o p:nth-of-type(6) span{
    font-size:2rem;
}
section#box02 .project1_con p:nth-of-type(4),
section#box02 .project1_con p:nth-of-type(5),
section#box02 .project1_con p:nth-of-type(6),
section#box02 .project1_con-o p:nth-of-type(4),
section#box02 .project1_con-o p:nth-of-type(5),
section#box02 .project1_con-o p:nth-of-type(6){
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:2rem;
    line-height: 5rem;
    letter-spacing: -.1rem;
}
section#box02 .project1_con button,
section#box02 .project1_con-o button{
    margin-top:4rem;
}
section#box02 .project1_con button:hover,
section#box02 .project1_con-o button:hover{
    border:.1rem solid #4dc6e0;
    background-color:#dff9ff;
    color:#4dc6e0;
}
/*       Projects1 End        */
/*       Projects2         */
#outer section#box03{
    background-color:#f8f8f8;
    padding:16rem 0 12rem 0;
    margin:0 auto;

}
#outer section#box03 tab-wrapper{
    width:140.6rem;
    margin:0 auto;
}
.tab-wrapper ul.tab-menu{
    padding:1.5rem 0 1.3rem 0;
    width:170px;
    margin:0 auto;
    text-align: center;
    border-bottom:4px solid #f0f0f0
}
.tab-wrapper ul.tab-menu li{
    position: relative;
    padding:0 1.5rem 0 1.5rem;
    display:inline-block;
    text-align: center;
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:1.8rem;
    color:#4dc6e0;
    cursor: pointer;
}
.line {
  position:absolute;
  width: 0;
  height: 4px;
  background-color:#4dc6e0;
  top: 30px;
  left: 0;
}
section#box03 article{
    display:block;
    width:140.6rem;
    margin:8rem auto;
}
article .project2{
    display:inline-block;
    text-align: center;
    width:60rem;
}
article .project2-2,
article .project2-3{
    display:inline-block;
    text-align: center;
    width:70rem;
}
article .project2 p:first-of-type,
article .project2-1 p:first-of-type,
article .project2-2 p:first-of-type,
article .project2-3 p:first-of-type{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:2.2rem;
    color:#1e1e1e;
    text-align: center;
}
article .project2 img,
article .project2-1 img{
    margin-top:2rem;
-webkit-box-shadow: 10px 10px 43px -9px rgba(158,158,158,1);
-moz-box-shadow: 10px 10px 43px -9px rgba(158,158,158,1);
box-shadow: 10px 10px 43px -9px rgba(158,158,158,1)
}
article .project2-2>p+p+img,
article .project2-2>p+p+img+img,
article .project2-3>p+p+img,
article .project2-3>p+p+img+img{
    margin:2rem 2rem 0 2rem;
}
article .project2 p:nth-of-type(2),
article .project2-1 p:nth-of-type(2),
article .project2-2 p:nth-of-type(2),
article .project2-3 p:nth-of-type(2){
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:1.7rem;
    line-height: 5.5rem;
    text-align: center;
}
article .project2 p:nth-of-type(3),
article .project2-1 p:nth-of-type(3),
article .project2-2 p:nth-of-type(3),
article .project2-3 p:nth-of-type(3){
    font-family: 'Handon3gyeopsal300g', sans-serif;
    font-size:1.5rem;
    line-height: 5rem;
    float:right;
}
article .project2-2 p:nth-of-type(3),
article .project2-3 p:nth-of-type(3){
    width:100%;
}
article .project2 .btn-box{
    padding-top:2rem;
    width:100%;
    display:flex;
    justify-content:space-between;
}
section#box02 .project1_con button,
section#box02 .project1_con-o button,
article .project2 button,
article .project2-1 button,
article .project2-2 button,
article .project2-3 button{
    padding:2.2rem 3.5rem;
    border-radius:.5rem;
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:1.4rem;
    background-color:#4dc6e0;
    color:#fff;
    cursor: pointer;
}
article .project2-1 .btn{
    padding-top:2rem;
    width: 100%;
    display:flex;
    justify-content: center;
}
article .project2-1 button{
    padding:2.2rem 4.5rem;
    display:flex;
    justify-content: center;
}
article .project2 button:hover,
article .project2-1 button:hover,
article .project2-2 button:hover,
article .project2-3 button:hover{
    border:.1rem solid #4dc6e0;
    background-color:#fff;
    color:#4dc6e0;
}
article .project2-1{
    float:right;
    width:60rem;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 140.6rem;
}
.modal-content img{
    margin:0;
}
/* The Close Button */
.close {
position: absolute;
  color: #fff;
  right:22px;
  font-size: 60px;
}

.close:hover,
.close:focus {
  color: #4dc6e0;
  text-decoration: none;
  cursor: pointer;
}
/*       Projects2 End        */

/*    Profile    */
#outer section#box04{
    padding:16rem 0 0 0;
}
section#box04 article{
    display:flex;
    justify-content:center;
    width:140.6rem;
    margin:8rem auto;
}
section#box04 img{
    width:27.4rem;
    height:27.4rem;
    margin-top:6rem;
    float:left;
}
section#box04 .profile-con{
    padding:0 0 0 20rem;
}
section#box04 .profile-con div:nth-of-type(2){
    padding-top:5rem;
}
section#box04 .profile-con div p:first-of-type{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:2rem;
    line-height: 4rem;
    color:#4dc6e0;
}
section#box04 .profile-con div p:nth-of-type(2){
    padding-bottom:2rem;
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:1.8rem;
    color:#1e1e1e;
}
section#box04 .profile-con div p:nth-of-type(3),
section#box04 .profile-con div p:nth-of-type(4),
section#box04 .profile-con div p:nth-of-type(5),
section#box04 .profile-con div p:nth-of-type(6){
    font-size:1.8rem;
    line-height: 2.7rem;
    color:#1e1e1e;
}
section#box04 .profile-con div p:nth-of-type(3) span:first-of-type,
section#box04 .profile-con div p:nth-of-type(4) span:first-of-type,
section#box04 .profile-con div p:nth-of-type(5) span:first-of-type,
section#box04 .profile-con div p:nth-of-type(6) span:first-of-type{
    font-family: 'Handon3gyeopsal600g', sans-serif;
}
section#box04 .profile-con div p:nth-of-type(3) span:last-of-type,
section#box04 .profile-con div p:nth-of-type(4) span:last-of-type,
section#box04 .profile-con div p:nth-of-type(5) span:last-of-type,
section#box04 .profile-con div p:nth-of-type(6) span:last-of-type{
    font-family: 'Handon3gyeopsal300g', sans-serif;
}
/*    Profile End    */
/*    footer    */
footer{
    width:100%;
    height:auto;
    background-color:#4dc6e0;
    padding:5rem 0 5rem 0;
}
footer div{
    text-align: center;
    width:140.6rem;
    margin:0 auto;
}
footer div p:first-of-type{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:4rem;
    line-height: 6rem;
    color:#fff;
}
footer div p:nth-of-type(2){
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:2.5rem;
    line-height: 6rem;
    color:#fff;
}
footer div p:nth-of-type(2) span{
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:2.5rem;
    line-height: 3rem;
    color:#fff;
}
footer div p:nth-of-type(3){
    font-family: 'Handon3gyeopsal600g', sans-serif;
    font-size:2.5rem;
    line-height: 2rem;
    color:#fff;
}
/*    footer End   */
















